.card-Style{
    border: none !important;
}
h3{
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #333;
    font-size: 16px;
    font-weight: 500px;
    font-family: 'Montserrat', sans-serif !important;
}
.custom-icon{
    padding: 0 !important;
    color: #CCC;
}
.card-name{
    font-size: 16px;
    font-weight: 400;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    color: #222;
}

.card-details{
    font-size: 12px !important;
    font-weight: 300 !important;
    letter-spacing: 0 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    color: #888 !important;
}